*{
    padding: 0;
    margin: 0;
    user-select: none;
    --proporcion:1;
}
.fondo-container{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0%;
    overflow: hidden;
    margin: 0%;
    z-index: -10;
    background-image: url(../FondoPresentacion.webp);
    background-size: cover;
    background-position: center;
}
/*para md*/
@media (min-width:768px)
{
    
    .contenedorImg
    {
        display: flex;
        gap: 3vmin;
    }
    .img-md
    {
        height: 50vmin;
        width:  44.5vmin;
    }
}

/*para sm*/
@media (max-width:768px)
{ 
    *
    {
        --proporcion:7 / 5 !important;
    }
    .contenedorImg-sm
    {
        display: flexbox !important;
        gap: 3vmin;
    }
    .img-sm
    {
        aspect-ratio: 89 / 100;
        height: 70vmin;
    }
}
body{height: 100vh;overflow: hidden;}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
    height: 100vh;
}
#img1J1{
    background-image: url(1A.webp);
    background-size: contain;   
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 3vmin;
}
#img2J1{
    background-image: url(1B.webp);
    background-size: contain;
    background-repeat: no-repeat;
}
#img1J2{
    background-image: url(2A.webp);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 3vmin;
}
#img2J2{
    background-image: url(2B.webp);
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 1 16;
    position: relative;
}
#img1J3{
    background-image: url(3A.webp);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 3vmin;
}
#img2J3{
    background-image: url(3B.webp);
    background-size: contain;
    background-repeat: no-repeat;
}
.difJ31, .difJ32, .difJ33, .difJ34, .difJ35, .difJ36,.difJ21, .difJ22, .difJ23,.difJ24, .difJ25,.difJ11, .difJ12, .difJ13, .difJ14, .difJ15{ 
    color: rgb(213, 213, 57);
    height: 20px;
    width: 20px;
    border-radius: 100%;
    position: absolute;
}
.difJ31{
    width: calc(2.4vmin * var(--proporcion));
    height: calc(2.4vmin * var(--proporcion));
    margin-top: calc(42.7vmin * var(--proporcion));
    margin-left: calc(21.5vmin * var(--proporcion));
}
.difJ32{
    width: calc(2.4vmin * var(--proporcion));
    height: calc(2.4vmin * var(--proporcion));
    margin-top: calc(38.4vmin * var(--proporcion));
    margin-left: calc(18.6vmin * var(--proporcion));
}
.difJ33{
    width: calc(5vmin * var(--proporcion));
    height: calc(4vmin * var(--proporcion));
    margin-top: calc(40vmin * var(--proporcion));
    margin-left: calc(0.5vmin * var(--proporcion));
}
.difJ34{
    width: calc(5vmin * var(--proporcion));
    height: calc(5vmin * var(--proporcion));
    margin-top: calc(35.4vmin * var(--proporcion));
    margin-left: calc(5.5vmin * var(--proporcion));
}
.difJ35{
    width: calc(10vmin * var(--proporcion));
    height: calc(10vmin * var(--proporcion));
    margin-top: calc(28vmin * var(--proporcion));
    margin-left: calc(18.6vmin * var(--proporcion));
}
.difJ36{
    width: calc(5.5vmin * var(--proporcion));
    height: calc(6vmin * var(--proporcion));
    margin-top: calc(35.4vmin * var(--proporcion));
    margin-left: calc(27.5vmin * var(--proporcion));
}
.difJ21 {
    width:  calc(7vmin * var(--proporcion));
    height: calc(5vmin * var(--proporcion));
    margin-top: calc(43vmin * var(--proporcion));
    margin-left: calc(13vmin * var(--proporcion));
}
.difJ22{
    width: calc(7vmin * var(--proporcion));
    height: calc(5vmin * var(--proporcion));
    margin-top: calc(46vmin * var(--proporcion));
    margin-left: calc(7vmin * var(--proporcion))34;
}
.difJ23{
    width: calc(7vmin * var(--proporcion));
    height: calc(5vmin * var(--proporcion));
    margin-top: calc(12vmin * var(--proporcion));
    margin-left: calc(37vmin * var(--proporcion));
}
.difJ24{
    width: calc(2vmin * var(--proporcion));
    height: calc(2vmin * var(--proporcion));
    margin-top: calc(32.6vmin * var(--proporcion));
    margin-left: calc(23.4vmin * var(--proporcion));
}
.difJ25{
    width: calc(1.6vmin * var(--proporcion));
    height: calc(1.6vmin * var(--proporcion));
    margin-top: calc(33.2vmin * var(--proporcion));
    margin-left: calc(26.5vmin * var(--proporcion));
}
.difJ11{
    width: calc(18vmin * var(--proporcion));
    height: calc(8vmin * var(--proporcion));
    margin-top: calc(33vmin * var(--proporcion));
    margin-left: calc(7vmin * var(--proporcion));
    transform: rotate(-30deg);
}
.difJ12{
    width: calc(4vmin * var(--proporcion));
    height: calc(4vmin * var(--proporcion));
    margin-top: calc(35.4vmin * var(--proporcion));
    margin-left: calc(37.4vmin * var(--proporcion));
}
.difJ13{
    width: calc(4vmin * var(--proporcion));
    height: calc(5vmin * var(--proporcion));
    margin-top: calc(42vmin * var(--proporcion));
    margin-left: calc(33vmin * var(--proporcion));
}
.difJ14{
    margin-top: calc(27vmin * var(--proporcion));
    margin-left: calc(0.3vmin * var(--proporcion));
    height: calc(4vmin * var(--proporcion));
    width: calc(6vmin * var(--proporcion));
}
.difJ15{
    width: calc(3vmin * var(--proporcion));
    height:calc(3vmin * var(--proporcion));
    margin-top: calc(45vmin * var(--proporcion));
    margin-left: calc(30vmin * var(--proporcion));
}
.cantidadDiferencias
{
    font-size: 5vmin;
    height: auto;
    aspect-ratio: 7 / 3;
    text-align: center;
    background-color: #E9A032;
    border-radius: 2.5vmin;
    color: #090909;
}